# Default ignored files
/shelf/
/.idea/workspace.xml
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
# Ignore IntelliJ specific directories
.idea
# Ignore target directories
/target/
# Ignore iml files
*.iml
